.sidebar {
    width: 300px;
    height: 100vh;
    color: white;
    padding: 20px;
    background-color: #2f3640;
}
.list {
    list-style: none;
}
.list-item a {
    color: #0097e6;
    text-decoration: none;
}
.list-item .label {
    display: flex;
    align-items: center;
    gap: 4px;
}
.list-item .label span {
    line-height: 0;
    cursor: pointer;
}

.list-item .list-item-children {
    padding-left: 15px;
}